.dark .active-scroll-spy {
    background-color: white;
    color: #080c37;
}

.active-scroll-spy {
    background-color: #3F0165;
    color: white;
}

@layer components {
    .navigation-button {
        @apply p-3 flex items-center justify-center transition-all 
        text-main-purple hover:bg-main-purple hover:text-white
        dark:hover:bg-white dark:hover:text-dark-blue dark:text-white
    }
}